body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  
}



.main{
  background: black;
padding:0px 100px 0px 100px;
}
.nav{
  background: black;
  height:30px;
    border-bottom:solid red;
 
  position: fixed;
  padding-bottom:30px;
  
   
}
.nav a{
  color:white;
  margin-right:20px
}
.nav ul{
  color:white;
  display: flex;
  list-style-type: none;
  

}
.title{
  margin-right:20px;
  margin-bottom:50px;
   font-weight: bold;
 
  
}
.title .car{
   font-size:20px;
  color:red;
  margin-right:5px;
}
.title a{
  text-decoration: none;
}
.mainImg {
  
  height:
  

}
.mainImg img {
  width: 100%;
  height: 100vh;
}
.services{
  padding:20px 100px 0px 100px;
  background: black;
}
.servicecont{
 display: flex;
 justify-content: space-between; 
  background: blue;
  margin-bottom:20px;
  
    


  
    

  
}
.serviceblock h2{
  text-align:left
}
.servicecont div{
  width:40%
    
}

.servicetext ul{
  font-size:20px;
}
.servicetext ol{
  font-size:20px;
}
.serviceImg{
  display: inline-block;
    object-fit: cover;
margin-top:20px}
.booking{
   padding:20px 100px 0px 100px;
  background: black;
  
}
.booking div{
  background:blue;
    padding:20px 20px;
  align-items: center;
}
